<h1 mat-dialog-title>Agregar peligro</h1>
<form [formGroup]="formAddPeligro" (submit)="addNewPeligro()" class="puesto-form">
  <mat-dialog-content class="mat-typography">

    <mat-form-field class="full-width">
      <mat-label>Descripción de peligro</mat-label>
      <textarea formControlName="peligroData" matInput rows=3 placeholder="Descripción" ></textarea>
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button type="submit" mat-button [mat-dialog-close]="data" cdkFocusInitial>
      <mat-icon>save</mat-icon>
      Grabar
    </button>
  </mat-dialog-actions>
</form>
