<div class="row">
    <div class="col-xs-12 md-display-1">
        <div class="col-sm-12 col-lg-9">
            <!-- {{currentUserName}} -->
            <h1 class="mt-10 mb-10 ml-0 mr-10">¡Bienvenido!</h1>
            <br />

            <div class="row">
                <div *ngFor="let card of cards; let i = index; let isFirst=first">
                   
                    <div *ngIf="card.show" class="col-xs-12 col-sm-6 col-md-3 mb-16 pl-2 pr-2">
                        <mat-card class="flotante active">
                            <mat-card-header>
                                <mat-card-title>
                                    <h3>{{card.indicador}}</h3>
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="pt-8 pb-70 info-box" layout="column" layout-align="center center" [ngClass]="{'pb-45': card.footer==='PENDIENTES', 'pb-70': card.footer!=='PENDIENTES'}">
                                    <div class="light-blue-fg font-size-72 line-height-72" [ngClass]="{'css_col_red': card.footer==='FINALIZADAS'}">
                                        {{card.contador}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500" >{{ card.footer }} </div>
                                </div>
                            </mat-card-content>
                            <mat-card-actions layout="row" align="start">
                                <div *ngIf="card.footer==='PENDIENTES'" class="row m-0 p-0">
                                    <div class="col-md-12 m-0 p-0">
                                        <button type="button" class="fs-12 m-0 p-0 text-left" [routerLink]="['/enviar-solicitud']" mat-button aria-label="Go">
                                            <mat-icon>add</mat-icon>
                                            Crear nueva solicitud
                                        </button>
                                    </div>
                                </div> 
                                <div class="row m-0 p-0">
                                    <div class="col-md-12 m-0 p-0">
                                        <button type="button" class="fs-12 m-0 p-0 text-left" [routerLink]="['/material-bandeja-solicitud/'+i]" mat-button aria-label="Go">
                                            <mat-icon>link</mat-icon>
                                            Ir
                                        </button>
                                    </div>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
    </div>
</div>