<div class="row">
    <div class="col-xs-12 md-display-1">
        <div class="col-sm-12 col-lg-9">
            <!-- {{currentUserName}} -->
            <h1 class="mt-10 mb-10 ml-0 mr-10">¡Bienvenido!</h1>
            <br />
            <div class="row" >
                <!-- Mis Solicitudes Pendientes -->
                <div *ngIf="mostrarSeccionSolictPend" class="col-xs-12 col-sm-6 col-md-3 mb-16 pl-2 pr-2">
                    <mat-card class="flotante active">
                        <mat-card-header>
                            <mat-card-title>
                                <h3>Mis Solicitudes Pendientes</h3>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="pt-8 pb-70 info-box" layout="column" layout-align="center center" [ngClass]="{'pb-45': nuevaSolicitud, 'pb-70': !nuevaSolicitud}">
                                <div class="light-blue-fg font-size-72 line-height-72">
                                    3
                                </div>
                                <div class="h3 secondary-text font-weight-500">PENDIENTES</div>
                            </div>
                        </mat-card-content>
                        <mat-card-actions layout="row" align="start">
                            <div *ngIf="nuevaSolicitud" class="row m-0 p-0">
                                <div class="col-md-12 m-0 p-0">
                                    <button type="button" class="fs-12 m-0 p-0 text-left" (click)="irPaginaExterna('material-formulario-solicitud/-1', '', '')" mat-button aria-label="Go">
                                        <mat-icon>add</mat-icon>
                                        Crear nueva solicitud
                                    </button>
                                </div>
                            </div> 
                            <div class="row m-0 p-0">
                                <div class="col-md-12 m-0 p-0">
                                    <button type="button" class="fs-12 m-0 p-0 text-left" (click)="irPaginaExterna('material-bandeja-solicitud', '', '')" mat-button aria-label="Go">
                                        <mat-icon>link</mat-icon>
                                        Ir
                                    </button>
                                </div>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
                
                <div *ngIf="mostrarSeccionSolictEnProces" class="col-xs-12 col-sm-6 col-md-3 mb-16 pl-2 pr-2">
                    <mat-card class="flotante active">
                        <mat-card-header>
                            <mat-card-title>
                                <h3>Mis Solicitudes en Proceso</h3>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="pt-8 pb-70 info-box" layout="column" layout-align="center center">
                                <div class="light-blue-fg font-size-72 line-height-72">
                                    7
                                </div>
                                <div class="h3 secondary-text font-weight-500">EN PROCESO</div>
                            </div>
                        </mat-card-content>
                        <mat-card-actions layout="row" align="start">
                            <button type="button" class="fs-12" mat-button (click)="irPaginaExterna('material-bandeja-solicitud', '', '')" aria-label="Go">
                                <mat-icon>link</mat-icon>
                                Ir
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>

                <div *ngIf="mostrarSeccionSolictCerradas" class="col-xs-12 col-sm-6 col-md-3 mb-16 pl-2 pr-2">
                    <mat-card class="flotante active">
                        <mat-card-header>
                            <mat-card-title>
                                <h3>Mis Solicitudes Cerradas</h3>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="pt-8 pb-70 info-box" layout="column" layout-align="center center">
                                <div class="light-blue-fg font-size-72 line-height-72">
                                    {{ 3 || 0 }}
                                </div>
                                <div class="h3 secondary-text font-weight-500">CERRADAS</div>
                            </div>
                        </mat-card-content>
                        <mat-card-actions layout="row" align="start">
                            <button type="button" class="fs-12" mat-button (click)="irPaginaExterna('material-bandeja-solicitud', '', '')" aria-label="Go">
                                <mat-icon>link</mat-icon>
                                Ir
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
    
                <div *ngIf="mostrarSeccionSolictVencidas"class="col-xs-12 col-sm-6 col-md-3 mb-16 pl-2 pr-2">
                    <mat-card class="flotante active">
                        <mat-card-header>
                            <mat-card-title>
                                <h3>Mis Solicitudes Vencidas</h3>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="pt-8 pb-70 info-box" layout="column" layout-align="center center">
                                <div class="red-fg font-size-72 line-height-72">
                                    {{ 9 || 0 }}
                                </div>
                                <div class="h3 secondary-text font-weight-500">VENCIDAS</div>
                            </div>
                        </mat-card-content>
                        <mat-card-actions layout="row" align="start">
                            <button type="button" class="fs-12" mat-button (click)="irPaginaExterna('material-bandeja-solicitud', '', '')" aria-label="Go">
                                <mat-icon>link</mat-icon>
                                Ir
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
               
            </div>
        </div>
    </div>
</div>